{
	"root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb",
		"prettier",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/typescript",
		"plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "react-hooks",
        "jest",
        "prettier"
    ],
    "rules": {
		"camelcase": "off",
        "import/extensions": "off",
		"default-case": "off",
		"react-native/no-inline-styles": "off",
		"jsx-quotes": ["error", "prefer-double"],
		"no-alert": "off",
		"react-native/no-color-literals": "off",
		"react/jsx-indent": [
			"error",
			"tab",
			{
				"checkAttributes": false
			}
		],
		"react/jsx-indent-props": ["error", "tab"],
		"import/no-cycle": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/no-use-before-define": "off",
		"react/jsx-wrap-multilines": "off",
		"comma-dangle": [
			"error",
			{
				"arrays": "always-multiline",
				"objects": "always-multiline",
				"imports": "always-multiline",
				"exports": "always-multiline",
				"functions": "never"
			}
		],
		"react/jsx-filename-extension": [
			"warn",
			{
				"extensions": [".jsx", ".tsx"]
			}
		],
		"yoda": ["error", "always"],
		"import/named": "off",
		"import/export": "off",
		"import/prefer-default-export": "off",
		"no-unused-expressions": [
			"warn",
			{
				"allowShortCircuit": true,
				"allowTernary": true
			}
		],
		"no-nested-ternary": "off",
		"react/jsx-props-no-spreading": "off",
		"@typescript-eslint/prefer-interface": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"react/prop-types": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"react-hooks/rules-of-hooks": "error",
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"semi": true,
				"tab": 4
			}
		],
		"no-use-before-define": "off",
		"no-console": "off",
		"prefer-template": "off",
        "linebreak-style": [
            "error",
            "unix"
        ]
    },
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true,
				"project": "./tsconfig.json"
			}
		}
	}
}
